table{
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
}

table th{
    padding:0 100px;
    border:1px solid #000066;
    background:royalblue;
  }
   
  table td{
    border:1px solid #000066;
    background:#ffffff;
    text-align:center;
  }